@model NetCoreDemo.Models.Movie

<tr>
    <th scope="row">@Model.Id</th>
    <td>@Model.CinemaId</td>
    <td>@Model.Name</td>
    <td>@Model.Starring</td>
    <td>@Model.ReleaseDate</td>
    <td>
        <a asp-controller="Movie" asp-action="Edit" asp-route-movieId="@Model.Id">Edit</a>
        <a asp-controller="Movie" asp-action="Delete" asp-route-movieId="@Model.Id">Delete</a>
    </td>
</tr>